<!doctype html>
<html>
<head>
  <link href="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1" rel="icon">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="<%=article.description%>">
 <meta name="keywords" content="HTML, CSS, JavaScript, Web development, Coding, Programming, Areze">
   <meta name="author" content="Areze">
   <meta property="og:title" content="Areze's Blog - <%= article.title %>">
<meta property="og:description" content="<%=article.description%>">
<meta property="og:image" content="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1">
<meta property="og:url" content="https://arezeblog.herokuapp.com/">
<meta name="twitter:title" content="Areze's Blog ">
<meta name="twitter:description" content="<%=article.description%>"
<meta name="twitter:image" content="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1">
<meta name="twitter:card" content="summary_large_image">
 <title>Areze's Blog - <%= article.title %></title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

 
  <style>
* {
  font-family: 'Rubik', sans-serif;
  text-align: center;



}
#content {
  width: 50%;
  margin-top:25px;
}
h1 {
  font-weight: 900;
  line-height: 1.1;
}

body {
  display: grid;
  justify-items: center;
}
code {
  background-color:  #272822;
    color: white;
 
}
textarea {
  display: none
}
</style>
</head>
<body>
	<h1><%= article.title %></h1>
  <small><%= article.date %> </small>
  <div id="content"></div>

  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
 
</script>
  <script>
   marked.setOptions({
 breaks: true
});
  function htmlDecode(input){
  var e = document.createElement('textarea');
  e.innerHTML = input;
  // handle case of empty input
  return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
}


    document.getElementById('content').innerHTML =
     htmlDecode(marked("<%=article.content%>") );
  </script>
</body>
</html>
